In [3]:
#pip install pandas-market-calendars

Collecting pandas-market-calendars
  Downloading pandas_market_calendars-1.6.1-py3-none-any.whl (58 kB)
     |████████████████████████████████| 58 kB 2.2 MB/s eta 0:00:01
Collecting trading-calendars
  Downloading trading_calendars-2.1.1.tar.gz (108 kB)
     |████████████████████████████████| 108 kB 4.6 MB/s eta 0:00:01
Requirement already satisfied: pytz in /usr/local/lib/python3.8/site-packages (from pandas-market-calendars) (2020.5)
Requirement already satisfied: pandas>=0.18 in /usr/local/lib/python3.8/site-packages (from pandas-market-calendars) (1.2.1)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.8/site-packages (from pandas-market-calendars) (2.8.1)
Requirement already satisfied: numpy in /usr/local/lib/python3.8/site-packages (from trading-calendars->pandas-market-calendars) (1.19.5)
Requirement already satisfied: six in /usr/local/lib/python3.8/site-packages (from trading-calendars->pandas-market-calendars) (1.15.0)
Requirement already satisfied: toolz in /usr/local/lib/python3.8/site-packages (from trading-calendars->pandas-market-calendars) (0.11.1)
Building wheels for collected packages: trading-calendars
  Building wheel for trading-calendars (setup.py) ... done
  Created wheel for trading-calendars: filename=trading_calendars-2.1.1-py3-none-any.whl size=140919 sha256=ca430fcbc27c1c6d3c50dc2bf8405cc5a1f652e56c52ff96948460fa529aaddf
  Stored in directory: /Users/vigadam/Library/Caches/pip/wheels/f3/a3/ef/b4be7414461eb777966a832a9494924ac12efb80ae4509f54f
Successfully built trading-calendars
Installing collected packages: trading-calendars, pandas-market-calendars
Successfully installed pandas-market-calendars-1.6.1 trading-calendars-2.1.1
Note: you may need to restart the kernel to use updated packages.

In [4]:
import pandas as pd
import os
from pathlib import Path
import pandas_market_calendars as mcal
from datetime import datetime
import numpy as np
from sklearn.model_selection import LeaveOneGroupOut
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [5]:
path = Path(os.getcwd())

In [6]:
base_dir = path.parent.parent

In [7]:
data_in = os.path.join(str(base_dir) , "da_data_repo/swim-transactions/clean/")
data_out = os.path.join("ch18-swim-transactions/")
output = os.path.join(data_out,'output')
#func = os.path.join(str(base_dir) ,   "da_case_studies/ch00-tech-prep/")

In [8]:
daily_agg = pd.read_csv(os.path.join(data_in,"swim_work.csv"),parse_dates=['date'])

In [9]:
daily_agg.head()

        date  QUANTITY
0 2010-01-01         0
1 2010-01-02        49
2 2010-01-03        31
3 2010-01-04        14
4 2010-01-05        18

In [10]:
daily_agg['year']=daily_agg['date'].dt.year
daily_agg['quarter']=daily_agg['date'].dt.quarter
daily_agg['month']=daily_agg['date'].dt.month
daily_agg['day']=daily_agg['date'].dt.day
daily_agg['dow']=daily_agg['date'].dt.dayofweek +1
daily_agg['weekend']=daily_agg['dow'].isin([6,7])

In [11]:
daily_agg.head()

        date  QUANTITY  year  quarter  month  day  dow  weekend
0 2010-01-01         0  2010        1      1    1    5    False
1 2010-01-02        49  2010        1      1    2    6     True
2 2010-01-03        31  2010        1      1    3    7     True
3 2010-01-04        14  2010        1      1    4    1    False
4 2010-01-05        18  2010        1      1    5    2    False

In [12]:
daily_agg.tail()

           date  QUANTITY  year  quarter  month  day  dow  weekend
2552 2016-12-27        12  2016        4     12   27    2    False
2553 2016-12-28        17  2016        4     12   28    3    False
2554 2016-12-29        27  2016        4     12   29    4    False
2555 2016-12-30         3  2016        4     12   30    5    False
2556 2016-12-31         0  2016        4     12   31    6     True

In [13]:
daily_agg['school_off']=(((daily_agg['day']>15) & (daily_agg['month']==5) & (daily_agg['day'] <=30)) | 
           ((daily_agg['month']==6) |  (daily_agg['month']==7)) | 
           ((daily_agg['day']<15) & (daily_agg['month']==8)) | 
           ((daily_agg['day']>20) & (daily_agg['month']==12)))

In [14]:
daily_agg['trend']=daily_agg.index +1

In [15]:
daily_agg['trend']

0          1
1          2
2          3
3          4
4          5
        ...
2552    2553
2553    2554
2554    2555
2555    2556
2556    2557
Name: trend, Length: 2557, dtype: int64

In [16]:
nyse = mcal.get_calendar('NYSE')

In [17]:
holidays=nyse.holidays().holidays

In [18]:
daily_agg['isHoliday'] = daily_agg['date'].isin(holidays)

In [19]:
daily_agg.describe()

,QUANTITY,year,quarter,month,day,dow,trend
count,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000,2557.000000
mean,47.867032,2013.000782,2.508408,6.522487,15.730935,4.001173,1279.000000
std,50.491050,2.000587,1.117346,3.449499,8.802361,2.000097,738.286643
min,0.000000,2010.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,14.000000,2011.000000,2.000000,4.000000,8.000000,2.000000,640.000000
50%,28.000000,2013.000000,3.000000,7.000000,16.000000,4.000000,1279.000000
75%,64.000000,2015.000000,4.000000,10.000000,23.000000,6.000000,1918.000000
max,287.000000,2016.000000,4.000000,12.000000,31.000000,7.000000,2557.000000

In [20]:
daily_agg['q_month'] = daily_agg.groupby('month')['QUANTITY'].transform('mean')

In [21]:
daily_agg['QUANTITY2'] = np.where(daily_agg['QUANTITY']<1, 1,daily_agg['QUANTITY'])

In [22]:
daily_agg['q_ln'] = np.log(daily_agg['QUANTITY2'])

In [23]:
daily_agg['tickets'] = daily_agg.groupby(['month','dow'])['QUANTITY'].transform('mean')

In [24]:
daily_agg['tickets_ln'] = daily_agg.groupby(['month','dow'])['q_ln'].transform('mean')

In [25]:
daily_agg['dow_abb'] = daily_agg['date'].dt.day_name().str[:3]

In [26]:
daily_agg['month_abb'] = daily_agg['date'].dt.month_name().str[:3]

In [27]:
### Creat train/holdout data

In [28]:
data_holdout = daily_agg.loc[daily_agg['year']==2016,:]

In [29]:
data_train = daily_agg.loc[daily_agg['year']<2016,:]

In [30]:
list(map(len,[daily_agg,data_holdout,data_train]))

[2557, 366, 2191]

In [31]:
data_train.tail()

,date,QUANTITY,year,quarter,month,day,dow,weekend,school_off,trend,isHoliday,q_month,QUANTITY2,q_ln,tickets,tickets_ln,dow_abb,month_abb
2186,2015-12-27,0,2015,4,12,27,7,True,True,2187,False,15.97235,1,0.000000,25.266667,2.927724,Sun,Dec
2187,2015-12-28,16,2015,4,12,28,1,False,True,2188,False,15.97235,16,2.772589,13.483871,2.392609,Mon,Dec
2188,2015-12-29,32,2015,4,12,29,2,False,True,2189,False,15.97235,32,3.465736,14.612903,2.507322,Tue,Dec
2189,2015-12-30,15,2015,4,12,30,3,False,True,2190,False,15.97235,15,2.708050,14.903226,2.470384,Wed,Dec
2190,2015-12-31,16,2015,4,12,31,4,False,True,2191,False,15.97235,16,2.772589,13.093750,2.321463,Thu,Dec

In [32]:
factor_cols = ['month', 'dow', 'isHoliday', 'school_off']
data_train[factor_cols] = data_train[factor_cols].astype('category')

/usr/local/lib/python3.8/site-packages/pandas/core/frame.py:3188: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [33]:
data_train.dtypes

date          datetime64[ns]
QUANTITY               int64
year                   int64
quarter                int64
month               category
day                    int64
dow                 category
weekend                 bool
school_off          category
trend                  int64
isHoliday           category
q_month              float64
QUANTITY2              int64
q_ln                 float64
tickets              float64
tickets_ln           float64
dow_abb               object
month_abb             object
dtype: object

In [34]:
import patsy

In [35]:
y,X = patsy.dmatrices("QUANTITY ~ 1+ trend + month",data_train)

In [36]:
X

DesignMatrix with shape (2191, 13)
  Columns:
    ['Intercept',
     'month[T.2]',
     'month[T.3]',
     'month[T.4]',
     'month[T.5]',
     'month[T.6]',
     'month[T.7]',
     'month[T.8]',
     'month[T.9]',
     'month[T.10]',
     'month[T.11]',
     'month[T.12]',
     'trend']
  Terms:
    'Intercept' (column 0)
    'month' (columns 1:12)
    'trend' (column 12)
  (to view full data, use np.asarray(this_obj))

In [37]:
#X = data_train.loc[:,['trend','month']].to_numpy()
#y = data_train.loc[:,'QUANTITY'].to_numpy()
groups = data_train.loc[:,'year'].to_numpy()

In [38]:
lin_reg = LinearRegression(fit_intercept=False)

In [39]:
logo = LeaveOneGroupOut()

In [40]:
y_true=[]
y_pred=[]
rmse_folds=[]
for train_index, test_index in logo.split(X, y, groups):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    lin_reg.fit(X_train,y_train)
    y_hat = lin_reg.predict(X_test)
    y_true.append(y_test)
    y_pred.append(y_hat)
    rmse_folds.append(mean_squared_error(y_test,y_hat,squared=False))
#mean_squared_error(np.concatenate(y_true).ravel(),np.concatenate(y_pred).ravel(),squared=False)

In [41]:
sum(rmse_folds)/len(rmse_folds)

32.347871356433025

In [149]:
y,X = patsy.dmatrices("QUANTITY ~ 1+ trend + month + dow",data_train)

In [154]:
rmse_folds=[]
for train_index, test_index in logo.split(X, y, groups):
    X_train, X_test = X[train_index], X[test_index]
    y_train, y_test = y[train_index], y[test_index]
    lin_reg.fit(X_train,y_train)
    y_hat = lin_reg.predict(X_test)
    rmse_folds.append(mean_squared_error(y_test,y_hat,squared=False))

In [155]:
sum(rmse_folds)/len(rmse_folds)

31.448481901741218

In [156]:
# creating instance of one-hot-encoder
enc = OneHotEncoder(handle_unknown='ignore')
# passing bridge-types-cat column (label encoded values of bridge_types)
enc_df = pd.DataFrame(enc.fit_transform(data_train[['month']]).toarray())

In [157]:
enc_df_d = enc_df.drop(columns=0)

In [158]:
data_train = data_train.join(enc_df_d)

ValueError: columns overlap but no suffix specified: Index([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11], dtype='object')

In [159]:
data_train.columns

Index([      'date',   'QUANTITY',       'year',    'quarter',      'month',
              'day',        'dow',    'weekend', 'school_off',      'trend',
        'isHoliday',    'q_month',  'QUANTITY2',       'q_ln',    'tickets',
       'tickets_ln',    'dow_abb',  'month_abb',            1,            2,
                  3,            4,            5,            6,            7,
                  8,            9,           10,           11],
      dtype='object')

In [160]:
X = data_train.loc[:,['trend',1,2,3,4,5,6,7,8,9,10,11]].to_numpy()

In [161]:
data_train.shape

(2191, 29)

In [162]:
X.shape

(2191, 12)

In [163]:
lin_reg=LinearRegression(fit_intercept=True)

In [164]:
reg1 = lin_reg.fit(X[train_list[0][0]],y[train_list[0][0]])

In [165]:
reg1.coef_

array([[-9.22296369e-04,  5.95123925e-01,  1.78223419e+01,
         1.67560633e+01,  4.20656987e+01,  1.22358990e+02,
         8.66574427e+01,  3.81440984e+01,  3.81050800e+00,
        -5.86738309e-01, -3.36656526e+00, -3.82725242e+00]])

In [166]:
lin_reg.predict(X_test[train_list[0][1]])

ValueError: matmul: Input operand 1 has a mismatch in its core dimension 0, with gufunc signature (n?,k),(k,m?)->(n?,m?) (size 12 is different from 19)

In [167]:
len(y_test)

365

In [168]:
len(np.concatenate(y_pred).ravel())

2191

In [169]:
for train_index, test_index in logo.split(X, y, groups):
    print("TRAIN:", train_index, "TEST:", test_index)
X_train, X_test = X[train_index], X[test_index]
y_train, y_test = y[train_index], y[test_index]
print(X_train, X_test, y_train, y_test)

TRAIN: [ 365  366  367 ... 2188 2189 2190] TEST: [  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125
 126 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143
 144 145 146 147 148 149 150 151 152 153 154 155 156 157 158 159 160 161
 162 163 164 165 166 167 168 169 170 171 172 173 174 175 176 177 178 179
 180 181 182 183 184 185 186 187 188 189 190 191 192 193 194 195 196 197
 198 199 200 201 202 203 204 205 206 207 208 209 210 211 212 213 214 215
 216 217 218 219 220 221 222 223 224 225 226 227 228 229 230 231 232 233
 234 235 236 237 238 239 240 241 242 243 244 245 246 247 248 249 250 251
 252 253 254 255 256 257 258 259 260 261 262 263 264 265 266 267 268 269
 270 271 272 273 274 275 276 277 278 279 280 281 282 283 284 285 286 287
 288 289 290 291 292 293 294 295 296 297 298 299 300 301 302 303 304 305
 306 307 308 309 310 311 312 313 314 315 316 317 318 319 320 321 322 323
 324 325 326 327 328 329 330 331 332 333 334 335 336 337 338 339 340 341
 342 343 344 345 346 347 348 349 350 351 352 353 354 355 356 357 358 359
 360 361 362 363 364]
TRAIN: [   0    1    2 ... 2188 2189 2190] TEST: [365 366 367 368 369 370 371 372 373 374 375 376 377 378 379 380 381 382
 383 384 385 386 387 388 389 390 391 392 393 394 395 396 397 398 399 400
 401 402 403 404 405 406 407 408 409 410 411 412 413 414 415 416 417 418
 419 420 421 422 423 424 425 426 427 428 429 430 431 432 433 434 435 436
 437 438 439 440 441 442 443 444 445 446 447 448 449 450 451 452 453 454
 455 456 457 458 459 460 461 462 463 464 465 466 467 468 469 470 471 472
 473 474 475 476 477 478 479 480 481 482 483 484 485 486 487 488 489 490
 491 492 493 494 495 496 497 498 499 500 501 502 503 504 505 506 507 508
 509 510 511 512 513 514 515 516 517 518 519 520 521 522 523 524 525 526
 527 528 529 530 531 532 533 534 535 536 537 538 539 540 541 542 543 544
 545 546 547 548 549 550 551 552 553 554 555 556 557 558 559 560 561 562
 563 564 565 566 567 568 569 570 571 572 573 574 575 576 577 578 579 580
 581 582 583 584 585 586 587 588 589 590 591 592 593 594 595 596 597 598
 599 600 601 602 603 604 605 606 607 608 609 610 611 612 613 614 615 616
 617 618 619 620 621 622 623 624 625 626 627 628 629 630 631 632 633 634
 635 636 637 638 639 640 641 642 643 644 645 646 647 648 649 650 651 652
 653 654 655 656 657 658 659 660 661 662 663 664 665 666 667 668 669 670
 671 672 673 674 675 676 677 678 679 680 681 682 683 684 685 686 687 688
 689 690 691 692 693 694 695 696 697 698 699 700 701 702 703 704 705 706
 707 708 709 710 711 712 713 714 715 716 717 718 719 720 721 722 723 724
 725 726 727 728 729]
TRAIN: [   0    1    2 ... 2188 2189 2190] TEST: [ 730  731  732  733  734  735  736  737  738  739  740  741  742  743
  744  745  746  747  748  749  750  751  752  753  754  755  756  757
  758  759  760  761  762  763  764  765  766  767  768  769  770  771
  772  773  774  775  776  777  778  779  780  781  782  783  784  785
  786  787  788  789  790  791  792  793  794  795  796  797  798  799
  800  801  802  803  804  805  806  807  808  809  810  811  812  813
  814  815  816  817  818  819  820  821  822  823  824  825  826  827
  828  829  830  831  832  833  834  835  836  837  838  839  840  841
  842  843  844  845  846  847  848  849  850  851  852  853  854  855
  856  857  858  859  860  861  862  863  864  865  866  867  868  869
  870  871  872  873  874  875  876  877  878  879  880  881  882  883
  884  885  886  887  888  889  890  891  892  893  894  895  896  897
  898  899  900  901  902  903  904  905  906  907  908  909  910  911
  912  913  914  915  916  917  918  919  920  921  922  923  924  925
  926  927  928  929  930  931  932  933  934  935  936  937  938  939
  940  941  942  943  944  945  946  947  948  949  950  951  952  953
  954  955  956  957  958  959  960  961  962  963  964  965  966  967
  968  969  970  971  972  973  974  975  976  977  978  979  980  981
  982  983  984  985  986  987  988  989  990  991  992  993  994  995
  996  997  998  999 1000 1001 1002 1003 1004 1005 1006 1007 1008 1009
 1010 1011 1012 1013 1014 1015 1016 1017 1018 1019 1020 1021 1022 1023
 1024 1025 1026 1027 1028 1029 1030 1031 1032 1033 1034 1035 1036 1037
 1038 1039 1040 1041 1042 1043 1044 1045 1046 1047 1048 1049 1050 1051
 1052 1053 1054 1055 1056 1057 1058 1059 1060 1061 1062 1063 1064 1065
 1066 1067 1068 1069 1070 1071 1072 1073 1074 1075 1076 1077 1078 1079
 1080 1081 1082 1083 1084 1085 1086 1087 1088 1089 1090 1091 1092 1093
 1094 1095]
TRAIN: [   0    1    2 ... 2188 2189 2190] TEST: [1096 1097 1098 1099 1100 1101 1102 1103 1104 1105 1106 1107 1108 1109
 1110 1111 1112 1113 1114 1115 1116 1117 1118 1119 1120 1121 1122 1123
 1124 1125 1126 1127 1128 1129 1130 1131 1132 1133 1134 1135 1136 1137
 1138 1139 1140 1141 1142 1143 1144 1145 1146 1147 1148 1149 1150 1151
 1152 1153 1154 1155 1156 1157 1158 1159 1160 1161 1162 1163 1164 1165
 1166 1167 1168 1169 1170 1171 1172 1173 1174 1175 1176 1177 1178 1179
 1180 1181 1182 1183 1184 1185 1186 1187 1188 1189 1190 1191 1192 1193
 1194 1195 1196 1197 1198 1199 1200 1201 1202 1203 1204 1205 1206 1207
 1208 1209 1210 1211 1212 1213 1214 1215 1216 1217 1218 1219 1220 1221
 1222 1223 1224 1225 1226 1227 1228 1229 1230 1231 1232 1233 1234 1235
 1236 1237 1238 1239 1240 1241 1242 1243 1244 1245 1246 1247 1248 1249
 1250 1251 1252 1253 1254 1255 1256 1257 1258 1259 1260 1261 1262 1263
 1264 1265 1266 1267 1268 1269 1270 1271 1272 1273 1274 1275 1276 1277
 1278 1279 1280 1281 1282 1283 1284 1285 1286 1287 1288 1289 1290 1291
 1292 1293 1294 1295 1296 1297 1298 1299 1300 1301 1302 1303 1304 1305
 1306 1307 1308 1309 1310 1311 1312 1313 1314 1315 1316 1317 1318 1319
 1320 1321 1322 1323 1324 1325 1326 1327 1328 1329 1330 1331 1332 1333
 1334 1335 1336 1337 1338 1339 1340 1341 1342 1343 1344 1345 1346 1347
 1348 1349 1350 1351 1352 1353 1354 1355 1356 1357 1358 1359 1360 1361
 1362 1363 1364 1365 1366 1367 1368 1369 1370 1371 1372 1373 1374 1375
 1376 1377 1378 1379 1380 1381 1382 1383 1384 1385 1386 1387 1388 1389
 1390 1391 1392 1393 1394 1395 1396 1397 1398 1399 1400 1401 1402 1403
 1404 1405 1406 1407 1408 1409 1410 1411 1412 1413 1414 1415 1416 1417
 1418 1419 1420 1421 1422 1423 1424 1425 1426 1427 1428 1429 1430 1431
 1432 1433 1434 1435 1436 1437 1438 1439 1440 1441 1442 1443 1444 1445
 1446 1447 1448 1449 1450 1451 1452 1453 1454 1455 1456 1457 1458 1459
 1460]
TRAIN: [   0    1    2 ... 2188 2189 2190] TEST: [1461 1462 1463 1464 1465 1466 1467 1468 1469 1470 1471 1472 1473 1474
 1475 1476 1477 1478 1479 1480 1481 1482 1483 1484 1485 1486 1487 1488
 1489 1490 1491 1492 1493 1494 1495 1496 1497 1498 1499 1500 1501 1502
 1503 1504 1505 1506 1507 1508 1509 1510 1511 1512 1513 1514 1515 1516
 1517 1518 1519 1520 1521 1522 1523 1524 1525 1526 1527 1528 1529 1530
 1531 1532 1533 1534 1535 1536 1537 1538 1539 1540 1541 1542 1543 1544
 1545 1546 1547 1548 1549 1550 1551 1552 1553 1554 1555 1556 1557 1558
 1559 1560 1561 1562 1563 1564 1565 1566 1567 1568 1569 1570 1571 1572
 1573 1574 1575 1576 1577 1578 1579 1580 1581 1582 1583 1584 1585 1586
 1587 1588 1589 1590 1591 1592 1593 1594 1595 1596 1597 1598 1599 1600
 1601 1602 1603 1604 1605 1606 1607 1608 1609 1610 1611 1612 1613 1614
 1615 1616 1617 1618 1619 1620 1621 1622 1623 1624 1625 1626 1627 1628
 1629 1630 1631 1632 1633 1634 1635 1636 1637 1638 1639 1640 1641 1642
 1643 1644 1645 1646 1647 1648 1649 1650 1651 1652 1653 1654 1655 1656
 1657 1658 1659 1660 1661 1662 1663 1664 1665 1666 1667 1668 1669 1670
 1671 1672 1673 1674 1675 1676 1677 1678 1679 1680 1681 1682 1683 1684
 1685 1686 1687 1688 1689 1690 1691 1692 1693 1694 1695 1696 1697 1698
 1699 1700 1701 1702 1703 1704 1705 1706 1707 1708 1709 1710 1711 1712
 1713 1714 1715 1716 1717 1718 1719 1720 1721 1722 1723 1724 1725 1726
 1727 1728 1729 1730 1731 1732 1733 1734 1735 1736 1737 1738 1739 1740
 1741 1742 1743 1744 1745 1746 1747 1748 1749 1750 1751 1752 1753 1754
 1755 1756 1757 1758 1759 1760 1761 1762 1763 1764 1765 1766 1767 1768
 1769 1770 1771 1772 1773 1774 1775 1776 1777 1778 1779 1780 1781 1782
 1783 1784 1785 1786 1787 1788 1789 1790 1791 1792 1793 1794 1795 1796
 1797 1798 1799 1800 1801 1802 1803 1804 1805 1806 1807 1808 1809 1810
 1811 1812 1813 1814 1815 1816 1817 1818 1819 1820 1821 1822 1823 1824
 1825]
TRAIN: [   0    1    2 ... 1823 1824 1825] TEST: [1826 1827 1828 1829 1830 1831 1832 1833 1834 1835 1836 1837 1838 1839
 1840 1841 1842 1843 1844 1845 1846 1847 1848 1849 1850 1851 1852 1853
 1854 1855 1856 1857 1858 1859 1860 1861 1862 1863 1864 1865 1866 1867
 1868 1869 1870 1871 1872 1873 1874 1875 1876 1877 1878 1879 1880 1881
 1882 1883 1884 1885 1886 1887 1888 1889 1890 1891 1892 1893 1894 1895
 1896 1897 1898 1899 1900 1901 1902 1903 1904 1905 1906 1907 1908 1909
 1910 1911 1912 1913 1914 1915 1916 1917 1918 1919 1920 1921 1922 1923
 1924 1925 1926 1927 1928 1929 1930 1931 1932 1933 1934 1935 1936 1937
 1938 1939 1940 1941 1942 1943 1944 1945 1946 1947 1948 1949 1950 1951
 1952 1953 1954 1955 1956 1957 1958 1959 1960 1961 1962 1963 1964 1965
 1966 1967 1968 1969 1970 1971 1972 1973 1974 1975 1976 1977 1978 1979
 1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993
 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007
 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2018 2019 2020 2021
 2022 2023 2024 2025 2026 2027 2028 2029 2030 2031 2032 2033 2034 2035
 2036 2037 2038 2039 2040 2041 2042 2043 2044 2045 2046 2047 2048 2049
 2050 2051 2052 2053 2054 2055 2056 2057 2058 2059 2060 2061 2062 2063
 2064 2065 2066 2067 2068 2069 2070 2071 2072 2073 2074 2075 2076 2077
 2078 2079 2080 2081 2082 2083 2084 2085 2086 2087 2088 2089 2090 2091
 2092 2093 2094 2095 2096 2097 2098 2099 2100 2101 2102 2103 2104 2105
 2106 2107 2108 2109 2110 2111 2112 2113 2114 2115 2116 2117 2118 2119
 2120 2121 2122 2123 2124 2125 2126 2127 2128 2129 2130 2131 2132 2133
 2134 2135 2136 2137 2138 2139 2140 2141 2142 2143 2144 2145 2146 2147
 2148 2149 2150 2151 2152 2153 2154 2155 2156 2157 2158 2159 2160 2161
 2162 2163 2164 2165 2166 2167 2168 2169 2170 2171 2172 2173 2174 2175
 2176 2177 2178 2179 2180 2181 2182 2183 2184 2185 2186 2187 2188 2189
 2190]
[[1.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
 [2.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
 [3.000e+00 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
 ...
 [1.824e+03 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 1.000e+00]
 [1.825e+03 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 1.000e+00]
 [1.826e+03 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 1.000e+00]] [[1.827e+03 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
 [1.828e+03 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
 [1.829e+03 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 0.000e+00]
 ...
 [2.189e+03 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 1.000e+00]
 [2.190e+03 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 1.000e+00]
 [2.191e+03 0.000e+00 0.000e+00 ... 0.000e+00 0.000e+00 1.000e+00]] [[ 0.]
 [49.]
 [31.]
 ...
 [ 9.]
 [ 0.]
 [ 0.]] [[  0.]
 [  6.]
 [ 34.]
 [ 32.]
 [ 16.]
 [ 11.]
 [ 11.]
 [ 13.]
 [  6.]
 [ 35.]
 [ 42.]
 [ 17.]
 [ 15.]
 [ 12.]
 [ 14.]
 [ 20.]
 [ 31.]
 [ 38.]
 [  9.]
 [ 12.]
 [  4.]
 [  6.]
 [  0.]
 [ 31.]
 [ 35.]
 [ 11.]
 [ 11.]
 [ 19.]
 [  5.]
 [  0.]
 [ 36.]
 [ 40.]
 [  7.]
 [ 18.]
 [ 12.]
 [ 10.]
 [  4.]
 [ 60.]
 [ 80.]
 [ 17.]
 [ 22.]
 [ 40.]
 [ 21.]
 [  1.]
 [ 18.]
 [ 60.]
 [ 22.]
 [ 26.]
 [ 11.]
 [ 14.]
 [  5.]
 [ 47.]
 [ 34.]
 [ 12.]
 [ 17.]
 [ 14.]
 [ 28.]
 [  0.]
 [  0.]
 [ 36.]
 [ 23.]
 [ 25.]
 [ 17.]
 [ 20.]
 [ 10.]
 [ 43.]
 [ 71.]
 [ 22.]
 [ 24.]
 [ 19.]
 [ 22.]
 [  8.]
 [ 52.]
 [ 63.]
 [ 32.]
 [ 19.]
 [ 27.]
 [ 18.]
 [ 11.]
 [ 65.]
 [ 57.]
 [ 37.]
 [ 25.]
 [ 34.]
 [ 27.]
 [  9.]
 [ 61.]
 [131.]
 [ 74.]
 [ 73.]
 [ 99.]
 [ 80.]
 [ 15.]
 [ 78.]
 [  0.]
 [ 43.]
 [ 17.]
 [ 26.]
 [ 37.]
 [  7.]
 [112.]
 [ 59.]
 [ 27.]
 [ 26.]
 [  5.]
 [  0.]
 [  0.]
 [ 50.]
 [ 68.]
 [ 32.]
 [ 28.]
 [ 30.]
 [  0.]
 [  6.]
 [ 40.]
 [ 65.]
 [ 31.]
 [ 32.]
 [ 48.]
 [ 32.]
 [  9.]
 [ 72.]
 [152.]
 [ 16.]
 [ 24.]
 [ 24.]
 [ 37.]
 [  8.]
 [ 54.]
 [ 22.]
 [ 35.]
 [ 32.]
 [ 31.]
 [ 26.]
 [  4.]
 [ 77.]
 [ 77.]
 [ 15.]
 [ 50.]
 [ 63.]
 [ 15.]
 [  9.]
 [ 86.]
 [ 55.]
 [ 85.]
 [105.]
 [125.]
 [157.]
 [213.]
 [131.]
 [ 87.]
 [171.]
 [147.]
 [156.]
 [174.]
 [158.]
 [103.]
 [ 43.]
 [157.]
 [155.]
 [172.]
 [146.]
 [106.]
 [117.]
 [ 52.]
 [140.]
 [170.]
 [165.]
 [180.]
 [161.]
 [175.]
 [ 71.]
 [163.]
 [172.]
 [185.]
 [142.]
 [ 93.]
 [151.]
 [ 70.]
 [141.]
 [133.]
 [118.]
 [ 99.]
 [ 72.]
 [ 67.]
 [ 55.]
 [140.]
 [106.]
 [ 97.]
 [126.]
 [158.]
 [ 74.]
 [ 50.]
 [ 83.]
 [107.]
 [103.]
 [109.]
 [147.]
 [ 72.]
 [ 64.]
 [ 84.]
 [100.]
 [124.]
 [128.]
 [ 94.]
 [ 79.]
 [ 57.]
 [103.]
 [116.]
 [ 67.]
 [ 80.]
 [ 72.]
 [142.]
 [ 39.]
 [ 63.]
 [113.]
 [ 78.]
 [ 69.]
 [ 57.]
 [ 70.]
 [ 49.]
 [ 25.]
 [ 45.]
 [ 43.]
 [ 25.]
 [  7.]
 [115.]
 [124.]
 [ 25.]
 [ 31.]
 [ 35.]
 [ 19.]
 [  8.]
 [ 50.]
 [ 81.]
 [ 39.]
 [ 18.]
 [  4.]
 [ 39.]
 [  2.]
 [ 87.]
 [ 89.]
 [  6.]
 [ 32.]
 [ 19.]
 [ 37.]
 [  7.]
 [ 43.]
 [ 81.]
 [ 14.]
 [ 35.]
 [ 18.]
 [ 31.]
 [  1.]
 [ 64.]
 [ 54.]
 [ 20.]
 [ 30.]
 [ 11.]
 [ 27.]
 [  4.]
 [ 31.]
 [ 59.]
 [ 21.]
 [ 17.]
 [ 20.]
 [ 14.]
 [  7.]
 [ 50.]
 [ 39.]
 [ 27.]
 [ 21.]
 [ 28.]
 [ 22.]
 [ 23.]
 [ 45.]
 [ 36.]
 [ 26.]
 [ 14.]
 [ 34.]
 [ 34.]
 [  5.]
 [ 29.]
 [ 39.]
 [ 26.]
 [ 22.]
 [ 25.]
 [ 29.]
 [  2.]
 [ 37.]
 [ 44.]
 [ 21.]
 [ 13.]
 [ 17.]
 [ 18.]
 [  8.]
 [ 21.]
 [ 37.]
 [ 19.]
 [ 16.]
 [ 17.]
 [ 11.]
 [  5.]
 [ 18.]
 [ 64.]
 [ 21.]
 [ 28.]
 [ 16.]
 [ 21.]
 [  8.]
 [ 18.]
 [ 39.]
 [ 17.]
 [ 19.]
 [ 10.]
 [ 17.]
 [  6.]
 [ 39.]
 [ 26.]
 [  8.]
 [ 12.]
 [ 12.]
 [ 14.]
 [  7.]
 [ 55.]
 [ 40.]
 [ 15.]
 [ 17.]
 [ 12.]
 [  0.]
 [  7.]
 [ 37.]
 [ 28.]
 [ 10.]
 [ 18.]
 [ 14.]
 [ 17.]
 [  3.]
 [ 43.]
 [ 56.]
 [ 18.]
 [ 11.]
 [ 12.]
 [ 18.]
 [  6.]
 [ 36.]
 [ 20.]
 [ 11.]
 [ 21.]
 [ 23.]
 [ 27.]
 [ 17.]
 [ 25.]
 [ 31.]
 [ 19.]
 [ 22.]
 [ 37.]
 [ 16.]
 [  0.]
 [ 29.]
 [  0.]
 [ 16.]
 [ 32.]
 [ 15.]
 [ 16.]]